@import url('root-variables.css');

.home-section{
    font-family: var(--header-font);
    padding:0 var(--home-section-left-padding);
    width:var(--home-section-width);
}

.restaurant-title {
    color: var(--header-red);
    font-size: var(--home-header-font-size-h1);
    letter-spacing: var(--home-section-header-letter-spacing);
    margin-bottom: 0;
    margin-top: var(--header-top-margin-h1);
}

.restaurant-sutitle{
    color: var(--sub-title-color);
    font-size: var(--home-header-font-size-h2);
    letter-spacing: var(--home-section-header-letter-spacing);
    margin-top: 0;
}

.restaurant-description{
    font-family: var(--default-font);
    margin: var(--description-margin) 0;
}

.deleviry-button{
    color: var(--main-red);
    border: solid var(--delivery-button-border-thickness) var(--main-red);
    border-radius: var(--delivery-button-radius);
    padding:var(--delivery-button-top-bottom-padding) var(--delivery-button-sides-padding); 
    font-size: var(--delivery-button-font-size);
    transition: var(--button-transition);
    font-weight: bolder;
    background-color: var(--delivery-button-background);
}

.deleviry-button:hover{
    cursor: pointer;
    background-color: var(--delivery-button-background-hover);
    background-color: var(--main-red);
    color: white;
}