@import url('home.css');
@import url('menu.css');
@import url('contact.css');
@import url('nav.css');
@import url('footer.css');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body, .content{
    height: 100vh;
    color: white;
}

.content{
    height: 100%;
}

html{
    background-image: url('../Images/shaurma-with-veegtables-chicken-wrapped-with-lavash-bread.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

}

body{
    background-image: url('../Images/shaurma-with-veegtables-chicken-wrapped-with-lavash-bread.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content{
    display: grid;
    grid-template-rows: repeat(10,1fr);
}