@import url('home.css');
@import url('menu.css');
@import url('contact.css');
@import url('nav.css');
@import url('footer.css');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body, .content{
    height: 100vh;
    color: white;
}

body{
    background-image: url('../Images/360_F_579087473_4i3mJRcTqV7IU2r0Cwyz9wM4LiLxbTia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    display: grid;
    grid-template-rows: repeat(10,1fr);
}