@import url('root-variables.css');

@keyframes linkAnimation {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

nav{
    display: flex;
    font-family: var(--header-font);
    justify-content: flex-end;
    padding-top: var(--navbar-top-padding);
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: var(--gap-between-links);
    margin: var(--navbar-top-padding) 0;
}

li{
    text-align: center;
    position: relative;
    font-size: var(--link-font-size);
    transition: var(--button-transition);
    width:var(--link-width);
    opacity: var(--default-link-opacity);
}

li::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: var(--animated-bar-height);
    background-color: var(--main-red);
}

li:hover::before{
    animation: linkAnimation var(--animated-bar-duration)  ease-in-out forwards ;
}

li:hover{
    opacity: 1;
    cursor: pointer;
}