@import url('google-fonts.css');

:root{

    /*Global variables*/
    --special-font:'Dancing Script';
    --header-font:'Bebas Neue';
    --default-font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /*Variables for home section*/
    --header-red:rgb(239, 55, 8);
    --main-red:rgb(255, 111, 0);
    --main-color:rgb(248, 248, 248);
    --sub-title-color:rgb(100, 98, 98);
    --home-section-width:950px;
    --home-section-left-padding:200px;
    --delivery-button-border-thickness:5px;
    --delivery-button-radius:7px;
    --delivery-button-sides-padding:40px;
    --delivery-button-top-bottom-padding:12px;
    --delivery-button-font-size:25px;
    --button-transition: 200ms ease-in-out;
    --home-section-header-letter-spacing:2px;
    --home-header-font-size-h1:70px;
    --home-header-font-size-h2:45px;
    --delivery-button-background:rgba(0, 0, 0, 0);
    --delivery-button-background-hover:rgba(255,111,0,1);
    --description-margin:25px;
    --header-top-margin-h1:80px;

    /*Variables for menu section*/
    --menu-item-blur:10px;
    --box-side-length:300px;
    --box-padding:20px;
    --shawerma-item-border-thickness:5px;
    --menu-item-letter-spacing:2px;
    --menu-item-header-font-size:40px;
    --menu-section-width:700px;
    --menu-column-gap:30px;
    --menu-row-gap:20px;
    --menu-item-radius:35px;

    /*Variables for contact section*/
    --contact-header-font-size:50px;
    --distance-from-subquestion-question:-30px;
    --subquestion-font-size:30px;
    --contact-section-width:800px;
    --location-margin-top:10px;
    --quote-top-bottom-margin:75px;

    /*Variables for Navigation section*/
    --link-font-size:30px;
    --gap-between-links:18px;
    --link-width:100px;
    --default-link-opacity:0.7;
    --animated-bar-height:5px;
    --animated-bar-duration:0.5s;
    --navbar-top-padding:20px;

}